.page {
    margin-left: 4rem;
    margin-top: 2rem;
    max-width: 28rem;
}

.title {
    margin-left: 0;
    margin-bottom: .5;
    font-size: 1.425rem;

}

.employer {
    font-size: 1.1rem;
    font-weight: lighter;
    text-transform: initial;
    display:inline;
}

.timeline {
    margin-left: 1rem;
    font-size: 1rem;
    text-align: start;
    font-weight: lighter;
    text-transform: initial;
    display: inline;
}

.job_description {
    margin-bottom: 3rem;
}

hr {
    border-color: white;
    margin: 0.75rem 0;
}